header {
  border-radius: 100px;
  border: 0.5px solid #28584e;
  margin: 0px 20px;
  height: 60px;
  width: calc(100vw - 40px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  background-color: rgba(255, 255, 255, 0.47);
}
#cabinet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#cabinet a {
  display: block;
  color: inherit; /* Inherit color from parent element */
  text-decoration: none; /* Remove underline */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  border: none; /* Remove border */
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5vw;
}
#navbar .transbutton {
  color: rgb(255, 250, 244);
  font-family: "Vollkorn", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #28584e;
  border: 1px solid #28584e;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  transition: background-color 1s, color 0.4s;
  display: flex;
}
#separator {
  border: 0.5px solid #28584e;
  height: 40px;
}
#name {
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 650px) {
  #cabinet,
  #separator {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebedf5;
  font-family: "Vollkorn", sans-serif;
  color: #28584e;
  background-color: #eef4ec;
  font-size: 20px;
}
@font-face {
  font-family: "Vollkorn";
  src: url(assets/fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf)
    format("truetype");
}
#main-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#main-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 100vw;
}

#hero-section {
  box-sizing: border-box;
  padding: 80px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("assets/63ff2ad51f11a9c055cb7f74_brooke-lark-wMzx2nBdeng-unsplash\ \(1\)\ 2\ \(2\)\ \(2\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#hero-section p {
  text-align: center;
  color: #28584e;
  font-family: "Vollkorn", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  max-width: 60vw;
  width: 50vw;
  min-width: 400px;
}
#hero-section h1 {
  margin: 0px;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  display: inline-block;
  font-family: "Vollkorn", sans-serif;
  color: #28584e;
  max-width: 700px;
  text-align: center;
  /*background: -webkit-linear-gradient(
    120deg,
    rgb(250, 235, 215),
    rgb(216, 201, 181),
    #293203
  );
  background-clip: text;
  color: transparent;*/
}
#button-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.transbutton {
  color: rgb(255, 250, 244);
  font-family: "Vollkorn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #28584e;
  border: 1px solid #28584e;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 1s, color 0.4s;
  display: flex;
}

#at-section {
  box-sizing: border-box;
  margin: 120px 0px 80px 0px;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  gap: 5vw;
}
#about-me-section {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  color: #28584e;
  font-family: "Vollkorn", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
}
.text {
  color: #28584e;
  font-family: "Vollkorn", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  max-width: 600px;
  width: 50vw;
  min-width: 300px;
}
#at-image {
  border: 0.5px solid #28584e;
  background-image: url("assets/IMG_3943.JPG");
  height: 35vw;
  width: 30vw;
  min-height: 350px;
  min-width: 300px;
  max-width: 400px;
  max-height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#edu-section {
  border-top: 0.5px solid #28584e;
  border-bottom: 0.5px solid #28584e;
  box-sizing: border-box;
  background-color: rgba(30, 77, 55, 0.06);
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
#edu-section div {
  background-color: rgba(255, 255, 255, 0.47);
  margin: 20px 5vw;
  padding: 20px;
  border-radius: 30px;
  border: 0.5px solid #28584e;
}
li {
  margin-top: 8px;
  margin-bottom: 8px;
}
#edu-section #horizontal-separator {
  border: 0.5px solid #28584e;
  margin: 0px 40px 20px 40px;
  padding: 0px;
}

#queries-section {
  border-top: 0.5px solid #28584e;
  border-bottom: 0.5px solid #28584e;
  box-sizing: border-box;
  background-color: rgba(30, 77, 55, 0.06);
  padding: 120px 10px 80px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
#queries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
#queries .col div {
  background-color: rgba(255, 255, 255, 0.47);
  margin: 20px 2vw;
  padding: 20px;
  border-radius: 30px;
  border: 0.5px solid #28584e;
  max-width: 450px;
}
#queries .col div span {
  font-weight: 590;
}
#services-section {
  box-sizing: border-box;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
#services {
  width: 100vw;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
#services div {
  background-color: rgba(255, 255, 255, 0.47);
  margin: 20px 2vw;
  padding: 20px;
  border-radius: 30px;
  border: 0.5px solid #28584e;
  flex-shrink: 0;
  max-width: 800px;
  overflow: visible;
  white-space: normal;
}
